.quiz-form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}


.input-div{
    border-radius: 30px;
    border: solid #32322c 1px;
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-input{
    border: none;
    margin-left: 20px;
    width: 75%;
    height: 100%;
    padding: 5%
}

input:focus {
    outline: none;
    box-shadow: none;
  }
  
.quiz-input-number{
    margin-left: 20px;
    height: 80%;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.input-label{
    font-weight: 600;
    font-size: 24px;
    
}

.quiz-gen-title{
    margin-top: 40px;
}

.gen-button{
    border: none;
    box-shadow: none;
    margin-top: 20px;
    height: 50px;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    border: solid #32322c 1px;
    background-color: #1b9aaa;
    transition: background-color 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.gen-button:hover{
    background-color: #1a92a2;
    transform: scale(1.02)
}

.gen-button:active{
    background-color: #168594;
    transform: scale(0.97);
}

.gen-button:disabled{
    background-color: #1a92a2;
    transition: none;
    transform: none;
}

